.sth-input-container {
    overflow: auto;
}

.sth-input-title{
    font-family: Roboto-Bold;
    color: #1a4359;
    font-size: 10pt;
    padding-left: 5px;
}

.sth-input {
    width: 100%;
    height: 45px;
    outline: 0;
    border: 2px solid #29bfc2;
    border-radius: 8px;
    padding: 0 10px 0 10px;
    margin-top: 3px;
    font-size: 11pt;
}
