    .goverment-entities-page-container {
    background-color: rgba(237, 240, 247);
    padding: 40px;
}

.goverment-entities-page-title{
    font-family: Roboto-ExtraBold;
    color: #0d3048;
    font-size: 20pt;
    margin-bottom: 30px;
}

.goverment-entities-page-search-button {
    padding-top: 2px;
}

.goverment-entities-page-table-container{
    margin-top: 40px;
}

.goverment-entities-page-total-items {
    font-family: Roboto-Bold;
    font-size: 12pt;
    color: #0d3048;
    padding-top: 20px;
}