.login-container {
  background-color: #072030;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-sub-container {
  background-color: #f0f3f5;
  border-radius: 20px;
  padding: 40px;
}

.login-logo {
  width: 220px;
  display: block;
  margin: 0 auto;
}

.login-fields {
    margin-top: 25px;
}

.login-field {
    margin-top: 10px;
}
